<div class="page" ng-controller="SitesController">
    <div class="row ui-section">
        <div class="col-md-6">
            <h2 class="section-header"><span data-translate="BUILDINGS"></span></h2>
        </div>
        <div ng-show="loading" style="text-align: center;width:100%" class="chart_loading">
                <h4>Loading</h4>
                <md-progress-circular md-mode="indeterminate" style="margin:0 auto"></md-progress-circular>
        </div>
        <div class="col-md-12">
        
        	   <div class="error_div" ng-show="error">{{error_text}}</div>
                <div class="table-responsive" ng-hide="error">
                <table class="table table-striped table-bordered no-margin">
                    <thead>
                        <tr>
                            <th><span data-translate="Name"></span></th>
                            <th><span data-translate="Actions"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="site in abuildings">
                            <td>{{site.name}}</td>
                            <td><a ui-wave href="javascript:;" ng-click="details(site.id)" class="btn btn-raised btn-primary"><span data-translate="DETAILS"></span></a></td>                            
                        </tr>
                    </tbody>
                </table>
        	</div>
        </div>
    </div>
</div>