<div class="page" ng-controller="BuildingRulesController" >
    <div class="row" >
        <div class="col-sm-12">
            <h2 class="section-header">{{building.details.item.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
                <div class="panel-body" ng-init="getInitAreas()">
                   <div class="table-responsive">
                        <table class="table table-striped table-bordered no-margin">
                            <thead>
                                <tr>
                                    <th><span data-translate="Name"></span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="area in building.areas">
                                    <td>{{area.name}}</td>
                                    <td><a ui-wave href="javascript:;" ng-click="getRules(area)" class="btn btn-sm btn-raised btn-primary"><span data-translate="RULES"></span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel-body">
                <div class="text-right">
                    <a ui-wave href="javascript:;" ng-click="addRule()" class="btn btn-sm btn-raised btn-primary"><span data-translate="NEW_RULE"></span> <i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                 <ul class="brules" ng-hide="rulesList.length">
                    <li>
                    
                    <span data-translate="ThereareNoRules"></span>
                    </li>
                </ul>
               
                     <div class="table-responsive" ng-show="rulesList.length">
                        <ul class="brules">
                            <li ng-repeat="rule in rulesList">
                                <strong>{{rule.fields.name}}</strong><br/>
                                {{rule.fields.path}}<br/>
                                {{rule.fields.uri+" "+rule.fields.operator+" "+rule.fields.threshold}}<br/>
                                <a ui-wave href="javascript:;" ng-click="editRule(rule)" class="btn btn-sm btn-raised btn-primary"><span data-translate="edit"></span> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a ui-wave href="javascript:;" ng-click="deleteRule(rule)" class="btn btn-sm btn-raised btn-primary m-l m-r"><span data-translate="delete"></span> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                

                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default panel-minimal" ng-show="add_a_rule_form">
                <div class="divider divider-md"></div>
                <div class="panel-body">
                    <div class="form-group">
                        <strong><span data-translate="AREA"></span></strong>
                        <input class="form-control" disabled="disabled" type="text" ng-model="selected_area_name">
                    </div>
                    <div class="form-group">
                        <strong><span data-translate="Name"></span></strong>
                        <input class="form-control" type="text" name="" ng-model="rule.name">
                    </div>
                    <div class="form-group">
                        <strong><span data-translate="Description"></span></strong>
                        <input class="form-control" type="text" name="" ng-model="rule.description">
                    </div>
                    <div class="form-group">
                        <strong><span data-translate="suggestion"></span></strong>
                        <input class="form-control" type="text" name="" ng-model="rule.suggestion">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                            <strong><span data-translate="SENSOR"></span></strong>
                            <md-select ng-model="rule.uri">
                                <md-option ng-repeat="resource in selected_area_sensors" value="{{resource.uri_resource}}">
                                    {{resource.uri_resource}}
                                </md-option>
                            </md-select>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-4">
                             <div class="form-group">
                                <strong><span data-translate="operator"></span></strong>
                                <md-select ng-model="rule.operator">
                                    <md-option value=">">></md-option>
                                    <md-option value="==">==</md-option>
                                    <md-option value="<"><</md-option>                                  
                                </md-select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <strong><span data-translate="threshold"></span></strong>
                                <input class="form-control" type="text" name="" ng-model="rule.threshold">
                            </div> 
                        </div>
                    </div>
                     
                     
                                       
                    <div class="text-right">            
                        <md-button class="md-default" ng-click="cancel_new_rule()"><span data-translate="CANCEL"></span></md-button>
                        <md-button class="md-accent md-raised" ng-click="save_new_rule()"><span data-translate="SAVE_FORM"></span></md-button>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
 
<div class="row" style="margin-top: 10px">    
       
         <div class="col-md-8">

            <div class="panel panel-default panel-minimal" ng-show="selected_area && !add_an_area_form">
                <div class="panel-body">
                    <h3>{{selected_area.name}}</h3>

                    <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="{{language.description}}" >
                                <div class="text-right" style="margin:10px">
                                    <a ui-wave href="javascript:void(0);" ng-show="main.auth_role=='ROLE_GAIA_LOCAL_MANAGER' || main.auth_role=='ROLE_GAIA_GLOBAL_MANAGER' || main.auth_role=='ROLE_GAIA_ADMIN'" ng-click="edit()" class="btn btn-sm btn-raised btn-primary"><span data-translate="EDIT"></span></a>
                                </div>
                            <div class="details_area" ng-show="selected_area_view">               
                                <strong><span data-translate="Name"></span>:</strong> {{selected_area.name}}<br/>
                                <strong><span data-translate="Description"></span>:</strong> {{selected_area.description}}<br/>
                                <strong><span data-translate="Type"></span>:</strong> {{selected_area.type}}<br/>
                                <strong><span data-translate="Width"></span>:</strong> {{selected_area.width}}<br/>
                                <strong><span data-translate="Lenght"></span>:</strong> {{selected_area.length}}<br/>
                                <strong><span data-translate="Height"></span>:</strong> {{selected_area.height}}<br/>
                            </div>
                            <div ng-show="selected_area_edit">
                                <strong><span data-translate="Name"></span>:</strong>
                                <input type="text" class="form-control" name="name" ng-model="selected_area.name">
                                <br/>
                                <strong><span data-translate="Description"></span>:</strong>
                                <input type="text" class="form-control" name="description" ng-model="selected_area.description">
                                <br/>
                                <strong><span data-translate="Type"></span>:</strong>
                                <input type="text" class="form-control" name="type" ng-model="selected_area.type">
                                <br/> 
                                 <strong><span data-translate="Width"></span> <span data-translate="cm"></span>:</strong>
                                <input type="text" class="form-control" name="Width" ng-model="selected_area.width">
                                <br/> 
                                 <strong><span data-translate="Length"></span> <span data-translate="cm"></span>:</strong>
                                <input type="text" class="form-control" name="Length" ng-model="selected_area.length">
                                <br/> 
                                 <strong><span data-translate="Height"></span> <span data-translate="cm"></span>:</strong>
                                <input type="text" class="form-control" name="Height" ng-model="selected_area.height">
                                <br/>      
                                <md-button class="md-accent md-raised" ng-click="update()"><span data-translate="SAVE_FORM"></span></md-button>
                                <md-button class="md-default md-raised" ng-click="cancel_edit_area()"><span data-translate="CANCEL"></span></md-button>
                            </div>

                        </uib-tab>
                        <uib-tab index="1" heading="{{language.sensors}}">
                            <div class="text-right" style="margin:10px">
                                <a ui-wave href="javascript:;" ng-show="main.auth_role=='ROLE_GAIA_LOCAL_MANAGER' || main.auth_role=='ROLE_GAIA_GLOBAL_MANAGER' || main.auth_role=='ROLE_GAIA_ADMIN'" ng-click="addSensor()" class="btn btn-sm btn-raised btn-primary"><span data-translate="ADD_A_SENSOR"></span></a>
                                <a ui-wave href="javascript:;" ng-show="main.auth_role=='ROLE_GAIA_LOCAL_MANAGER' || main.auth_role=='ROLE_GAIA_GLOBAL_MANAGER' || main.auth_role=='ROLE_GAIA_ADMIN'" ng-click="addVirtualSensor()" class="btn btn-sm btn-raised btn-primary"><span data-translate="ADD_A_VIRTUAL_SENSOR"></span></a>
                            </div>
                            <div class="table-responsive">                        
                                <table class="table table-striped table-bordered no-margin">
                                    <thead>
                                        <tr>
                                            <th><span data-translate="SensorName"></span></th>
                                            <th><span data-translate="Description"></span></th>
                                            <th><span data-translate="Value_Type"></span></th>
                                            <th><span data-translate="ACTIONS"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sensor in selected_area_sensors" ng-show="selected_area_sensors.length">
                                            <td>{{sensor.name}}</td>
                                            <td>{{sensor.description}}</td>
                                            <td>{{sensor.value_type}}</td>
                                            <td><span ng-show="main.auth_role=='ROLE_GAIA_LOCAL_MANAGER' || main.auth_role=='ROLE_GAIA_GLOBAL_MANAGER' || main.auth_role=='ROLE_GAIA_ADMIN'" data-translate="DELETE" class="delete_label" ng-click="deleteThis(sensor.id)"></span></td>
                                        </tr>
                                        <tr ng-show="!selected_area_sensors.length">
                                            <td style="text-align: center;" colspan="4"><span data-translate="Therearenoassignedsensors"></span></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="panel panel-default panel-minimal" ng-show="add_a_sensor_form">
                                <div class="divider divider-md"></div>
                                <div class="panel-heading">
                                    <span data-translate="DETAILS"></span>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <strong><span data-translate="Name"></span></strong>
                                        <input class="form-control" type="text" name="" ng-model="new_sensor.name">
                                    </div>
                                    <div class="form-group">
                                        <strong><span data-translate="Description"></span></strong>
                                        <input class="form-control" type="text" name="" ng-model="new_sensor.description">
                                    </div>
                                    <div class="form-group">
                                        <strong><span data-translate="SENSOR"></span></strong>
                                        <md-select ng-model="new_sensor.id">
                                            <md-option ng-repeat="resource in available_resources" value="{{resource.id}}">
                                                {{resource.uri}}
                                            </md-option>
                                        </md-select>
                                    </div>                                    
                                        <md-button class="md-accent md-raised" ng-click="save_new_sensor()"><span data-translate="SAVE_FORM"></span></md-button>
                                        <md-button class="md-accent md-raised" ng-click="cancel_new_sensor()"><span data-translate="CANCEL"></span></md-button>
                                </div>
                            </div>


                            <div class="panel panel-default panel-minimal" ng-show="add_a_virtual_sensor_form">
                                <div class="divider divider-md"></div>
                                <div class="panel-heading">
                                    <span data-translate="DETAILS"></span>
                                </div>
                                <div class="panel-body">
                                    
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <strong><span data-translate="Name"></span></strong>
                                            <input class="form-control" type="text" name="" ng-model="new_virtual_sensor.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <strong><span data-translate="observes"></span></strong>
                                            <md-select ng-model="new_virtual_sensor.observes">
                                                <md-option option disabled="disabled" selected><span data-translate="SELECT_OBSERVE"></span></md-option>
                                                <md-option ng-repeat="observe in available_observes" value="{{observe.name}}">
                                                    {{observe.name}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                        
                                        
                                        
                                   
                                    
                                        <md-button class="md-accent md-raised right" ng-click="save_new_virtual_sensor()"><span data-translate="SAVE_FORM"></span></md-button>
                                        <md-button class="md-default md-raised right" ng-click="cancel_new_virtual_sensor()"><span data-translate="CANCEL"></span></md-button>
                                </div>
                            </div>



                        </uib-tab>
                        <uib-tab index="2" heading="{{language.subareas}}">
                            <div class="text-right" style="margin:10px">
                                <a ui-wave href="javascript:;" ng-show="main.auth_role=='ROLE_GAIA_LOCAL_MANAGER' || main.auth_role=='ROLE_GAIA_GLOBAL_MANAGER' || main.auth_role=='ROLE_GAIA_ADMIN'" ng-click="addSubArea()" class="btn btn-sm btn-raised btn-primary"><span data-translate="ADD_A_SUBAREA"></span></a>
                            </div>
                                <table class="table table-striped table-bordered no-margin">
                                    <thead>
                                        <tr>
                                            <th><span data-translate="AREA"></span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="area in selected_area.subareas" ng-show="selected_area.subareas.length">
                                            <td>{{area.name}}</td>
                                        </tr>
                                        <tr ng-show="!selected_area.subareas.length">
                                            <td style="text-align: center;" colspan="4"><span data-translate="Therearenoassignedareas"></span></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>

                                <div class="panel panel-default panel-minimal" ng-show="add_a_subarea_form">
                                    <div class="panel-body">                    
                                            <div class="form-group">
                                                <strong><span data-translate="ADD_SUBAREA"></span></strong>
                                                <md-select ng-model="new_subarea.id">
                                                    <md-option ng-repeat="area in building.areas" value="{{area.id}}">
                                                        {{area.name}}
                                                    </md-option>
                                                </md-select>
                                            </div> 
                                            <div class="text-right">
                                                <md-button class="md-accent md-raised" ng-click="save_new_subarea()"><span data-translate="SAVE_FORM"></span></md-button>
                                                <md-button class="md-default" ng-click="cancel_new_subarea()"><span data-translate="CANCEL"></span></md-button>
                                            </div>
                                    </div>
                                </div>


                        </uib-tab>
                    </uib-tabset>


             



                	
                        
                </div>
            </div>


            

             <div class="panel panel-default panel-minimal" ng-show="add_an_area_form">
                <div class="divider divider-md"></div>
                <div class="panel-heading">
                    <span data-translate="DETAILS"></span>
                </div>
                <div class="panel-body">                	
                        <strong><span data-translate="Name"></span>:</strong>
                        <input type="text" class="form-control" name="name" ng-model="new_area.name">
                        <br/>
                        <strong><span data-translate="Description"></span>:</strong>
                        <input type="text" class="form-control" name="description" ng-model="new_area.description">
                        <br/>
                        <strong><span data-translate="Type"></span>:</strong>
                        <input type="text" class="form-control" name="type" ng-model="new_area.type">
                        <br/> 
                         <strong><span data-translate="Width"></span> <span data-translate="cm"></span>:</strong>
                        <input type="text" class="form-control" name="Width" ng-model="new_area.width">
                        <br/> 
                         <strong><span data-translate="Length"></span> <span data-translate="cm"></span>:</strong>
                        <input type="text" class="form-control" name="Length" ng-model="new_area.length">
                        <br/> 
                         <strong><span data-translate="Height"></span> <span data-translate="cm"></span>:</strong>
                        <input type="text" class="form-control" name="Height" ng-model="new_area.height">
                        <br/>     
                        <md-button class="md-accent md-raised" ng-click="save_new_area()"><span data-translate="SAVE_FORM"></span></md-button>
                        <md-button class="md-accent md-raised" ng-click="cancel_new_area()"><span data-translate="CANCEL"></span></md-button>
                </div>
            </div>

        </div>



     


           



       
</div>