<div class="page" ng-controller="SensorController" >


	<div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <h2 class="section-header">{{sensor.details.name}}</h2>
        </div>
    </div>



<div class="panel panel-default panel-minimal" ng-show="new_measurements_form">
    <div class="divider divider-md"></div>
    <div class="panel-heading">
        <span data-translate="DETAILS"></span>
    </div>
            <div class="panel-body">
                
                <div class="col-sm-6" ng-hide="1">
                    <div class="form-group">
                        <strong><span data-translate="Time"></span></strong>
                        <input class="form-control" type="text" name="" ng-model="virtual.time">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><span data-translate="Value"></span></strong>
                        <input class="form-control" type="text" name="" ng-model="virtual.value">
                    </div>
                </div>
                <md-button class="md-accent md-raised right" ng-click="save_value_virtual()"><span data-translate="SAVE_FORM"></span></md-button>
                    <md-button class="md-default md-raised right" ng-click="cancel_virtual_value()"><span data-translate="CANCEL"></span></md-button>
            </div>
        </div>


<div layout="row" layout-align="end center" class="layout-align-end-center layout-row" style="background: white;padding: 16px">
    <md-button ng-click="open_new_measurements()" class="md-raised btn-w-md md-primary" ng-show="add_measurements_btn_view"><span data-translate="add_virtual_values"></span></md-button>

    <div class="form-group">
        <label for="building_build_year" class="col-sm-12 control-label"><span data-translate="FROM_TIME"></span></label>
        <div class="col-sm-12" style="background: white">
            <md-datepicker ng-model="first_period_from_time" md-placeholder=""></md-datepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="building_build_year" class="col-sm-12 control-label"><span data-translate="TO_TIME"></span></label>
        <div class="col-sm-12" style="background: white">
            <md-datepicker ng-model="second_period_to_time" md-placeholder=""></md-datepicker>
        </div>
        
    </div>
    <div class="form-group">
        <label for="granularity" class="col-sm-12 control-label"><span data-translate="GRANULARITY"></span></label>
        <div class="col-sm-12">                                        
            <md-select ng-model="selected_granularity">
                <md-option ng-repeat="gran in granularity_values" value="{{gran.text}}">
                    <span data-translate="{{gran.name}}"></span>
                </md-option>
            </md-select>                              
        </div>
    </div>
    <div class="form-group">
        <label for="granularity" class="col-sm-12 control-label"><span data-translate="uom"></span></label>
        <div class="col-sm-12">                                        
            <md-select ng-model="selected_uom">
                <md-option ng-repeat="uom in available_uoms" value="{{uom}}">
                    <span data-translate="{{uom}}"></span>
                </md-option>
            </md-select>                              
        </div>
    </div>
     <md-button class="md-accent md-success" ng-click="update()"><span data-translate="UPDATE"></span></md-button>             
</div>

    <div class="row">                         
        <div class="col-sm-12">
        	<div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-body">
                    <div ng-show="loading" style="text-align: center;width:100%" class="chart_loading">
                        <h4>Loading</h4>
                        <md-progress-circular md-mode="indeterminate" style="margin:0 auto"></md-progress-circular>
                    </div>
                    <div data-echarts data-options="sensor_measurements.options" style="height: 350px;"></div>
            	</div>
            </div>
        </div>
    </div>


   



</div>