<div class="page-signin" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1><a href="#/"><img ng-src="{{main.logo}}" width="160px" /></a></h1>
                        </section>

                        <form class="form-horizontal">
                            <div class="alert alert-danger text-center" ng-show="login_error">Please check your credentials</div>
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="text" required class="form-control" ng-model="user.username">
                                        <span class="input-bar"></span>
                                        <label>UserName</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="password" required class="form-control" ng-model="user.password">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a href="javascript:void(0)" ng-click="authenticate()" class="color-primary">Sign in</a>
                    </div>
                </div>

                <div class="additional-info">
                    <!-- <a href="#/page/signup">Register</a>
                    <span class="divider-h"></span>
                    <a href="#/page/forgot-password">Forgot your password?</a> -->
                </div>

            </div>                
        </div>

    </div>

</div>