<div class="page" ng-controller="SchoolCompareController" >
  
    <div class="row" style="margin-top:60px">    
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
            <div class="panel panel-default panel-minimal" style="background-color:#ffffff;">
                <div class="divider divider-md"></div>
                <div class="panel-body">
                        
                        <div class="form-group" ng-init="getAllSites()">
                            <label for="" class="col-sm-12 control-label"><span data-translate="Sites"></span></label>
                            <div class="col-sm-12">                                        
                                <md-select ng-model="comp_site">
                                    <md-option ng-repeat="site in allSites" value="{{site.id}}">
                                        {{site.name}}
                                    </md-option>
                                </md-select>                              
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-12 control-label"><span data-translate="FROM_TIME"></span></label>
                            <div class="col-sm-12" style="background: white">                                        
                                <md-datepicker ng-model="from_time" md-placeholder=""></md-datepicker>
                            </div>
                        </div>                    
                    
                        <div class="form-group">
                            <label class="col-sm-12 control-label"><span data-translate="TO_TIME"></span></label>
                            <div class="col-sm-12" style="background: white">
                                <md-datepicker ng-model="to_time" md-placeholder=""></md-datepicker>
                            </div>
                        </div>     
                        <br/>               
                        


                        <div class="form-group">
                            <label for="" class="col-sm-12 control-label"><span data-translate="GRANULARITY"></span></label>
                            <div class="col-sm-12">                                        
                                <md-select ng-model="selected_granularity">
                                    <md-option ng-repeat="gran in granularity_values" value="{{gran.text}}">
                                        <span data-translate="{{gran.name}}"></span>
                                    </md-option>
                                </md-select>                              
                            </div>
                        </div>


                         <div class="form-group">
                            <label for="" class="col-sm-12 control-label"><span data-translate="MEASUREMENT"></span></label>
                            <div class="col-sm-12">                                        
                                <md-select ng-model="type_of_measurement">
                                    <md-option ng-repeat="measurement in available_measurements" value="{{measurement.id}}">
                                        <span data-translate="{{measurement.name}}"></span>
                                    </md-option>
                                </md-select>                              
                            </div>
                        </div>


                       
                        

                    <div class="row text-center">
                        <md-button class="md-accent md-raised" ng-click="compare()"><span data-translate="UPDATE"></span></md-button>
                    </div>
                </div>
                    
                </div>
            </div>
        
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-default panel-minimal">
                <div class="panel-body">
                        <div class="error alert alert-danger" ng-show="error_view">{{error_text}}</div>
                     <div class="row">
                     <div ng-show="loading" style="text-align: center;width:100%" class="chart_loading">
                            <h4>Loading</h4>
                            <md-progress-circular md-mode="indeterminate" style="margin:0 auto"></md-progress-circular>
                        </div>
                        <div data-echarts id="diagram" data-options="line3.options" style="height: 350px;"></div>
                    </div>
                </div>
            </div>            
        </div>
    
    </div> 

</div>
